[submodule "turbin_pre_req"]
	path = turbin_pre_req
	url = git@github.com:Dat-Andre/turbin_pre_req.git
[submodule "solana-starter"]
	path = solana-starter
	url = git@github.com:Dat-Andre/solana-starter.git
[submodule "vault"]
	path = vault
	url = git@github.com:Dat-Andre/vault.git
[submodule "escrow"]
	path = escrow
	url = git@github.com:Dat-Andre/escrow.git
[submodule "nft_stake"]
	path = nft_stake
	url = git@github.com:Dat-Andre/nft_stake.git
[submodule "marketplace"]
	path = marketplace
	url = git@github.com:Dat-Andre/marketplace.git
[submodule "predicoid_1adaykeepsthedocteraway"]
	path = predicoid_1adaykeepsthedocteraway
	url = git@github.com:Dat-Andre/predicoid_1adaykeepsthedocteraway.git
